[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
jupyter = "*"
seaborn = "*"
hyperopt = "*"
xgboost = "*"
click = "*"
scikit-learn = "==1.6.1"
pandas = "==2.2.3"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
